# Managed by Ansible
application_name=appsite
application_environment=production
application_port={{ app_port }}
application_host={{ ansible_hostname }}
web_root={{ web_root }}
health_endpoint=/health
