[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
gathering = explicit
interpreter_python = auto_silent
retry_files_enabled = False
deprecation_warnings = True
stdout_callback = ansible.builtin.default
result_format = yaml

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml
